<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>NewsPicks|トップ</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap-theme.min.css}"/>
          
</head>
<body>
	<!-- ヘッダ -->
		
	<!-- コンテンツ -->
	
	<div class="container" th:each="pick : ${picks}">
	<!-- アイキャッチ -->
	<!-- ニュースカードたち -->
		<h2 th:text="${pick.title}">タイトル</h2>
	</div>
</body>
</html>