<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>NewsPicks|トップ</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap-theme.min.css}"/>
          
</head>
<body>
	<!-- ヘッダ -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">NEWSPICKS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">UserName
						<span class="sr-only">(current)</span>
				</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<!-- コンテンツ -->
	<div class="container-fluid bg-light pt-1">
		<div class="container">
			<!-- アイキャッチ -->
			<!-- ニュースカードたち -->
			<div class="row py-2">
				<div th:each="seq : ${#numbers.sequence(4, 6)}">
					<div class="card mx-4" style="width: 325px; height: 500px;">
						<img th:src="${picks[seq].imageUrl}" class="card-img-top"
							alt="..." style="height: 200px;">
						<div class="card-body" style="height: 300px;">
							<h5 class="card-title" th:text="${picks[seq].title}">Card
								title</h5>
							<p class="card-text overflow-hidden" th:text="${picks[seq].body}">Some
								quick example text to build on the card title and make up the
								bulk of the card's content.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row py-4">
				<div th:each="seq : ${#numbers.sequence(7, 9)}">
					<div class="card mx-4" style="width: 325px; height: 500px;">
						<img th:src="${picks[seq].imageUrl}" class="card-img-top"
							alt="..." style="height: 200px;">
						<div class="card-body" style="height: 300px;">
							<h5 class="card-title" th:text="${picks[seq].title}">Card
								title</h5>
							<p class="card-text overflow-hidden" th:text="${picks[seq].body}">Some
								quick example text to build on the card title and make up the
								bulk of the card's content.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>